html {
	  font-family: 'ZCOOL KuaiLe', cursive;
}

h1 {
	  font-family: 'Coiny', cursive;
}

.title {
  color: red;
} 

.txt1 {
  color: blue;
} 

.txt2 {
  color: green;
} 

.txt3 {
  color: orange;
} 